.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  height: 100%;
  max-height: 100vh;
  min-height: 100vh;

  background: var(--blue);
}

.container > img {
  position: fixed;
  top: 0;
  left: 0;
}

.container .card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.container .card {
  color: #fff;
  text-align: left;
}

.container .card h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;

  margin-top: 6rem;
}

.container .card .info {
  display: flex;
  align-items: center;
  justify-content: left;

  margin-top: 1.5rem;
}

.container .card .info p {
  color: #B2B9FF;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;

  max-width: 254px;
}

.container .card button {
  margin-top: 2.5rem;
  border: none;

  padding: 16px 0;
  border-radius: 4px;
  background: var(--blue-dark);

  color: #fff;

  cursor: pointer;
}

.container .card .secondButton {
  margin-top: 1rem;
}

.container .card button:hover {
  background: #3d4494;
}
